body {
    margin: 0;
    background-color: black;
}
.parent {
    background-color: black;
    height: 500px;
    width: 500px;
    margin: auto;
    position: relative;
    border: 1px solid red;
    border-radius: 10px;
}

.child1 {
    height: 100px;
    width: 100px;
    position: absolute;
    top: 0px;
    left:0px;
    right: px;
    transition: 1s;
    visibility: hidden;
}

.parent:hover .child1 {
    left: calc(48% - 100px);
    top: calc(48% - 100px);
    transition: 1s;
    visibility: visible;
    background-color: red;
}

.child2 {
    height: 100px;
    width: 100px;
    position: absolute;
    top: 0px;
    right: 0px;
    transition: 1s;
    visibility: hidden;
}

.parent:hover .child2 {
    top: calc(48% - 100px);
    right: calc(48% - 100px);
    visibility: visible;
    background-color: red;
}

.child3 {
    height: 100px;
    width: 100px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    transition: 1s;
    visibility: hidden;
        visibility: visible;
}

.parent:hover .child3 {
    bottom: calc(48% - 100px);
    left: calc(48% - 100px);
    visibility: visible;
    background-color: red;
}

.child4 {
    height: 100px;
    width: 100px;
    position: absolute;
    bottom: 0px;
    right: 0px;
    transition: 1s;
    visibility: hidden;
}

.parent:hover .child4 {
    bottom: calc(48% - 100px);
    right: calc(48% - 100px);
    visibility: visible;
    transition: 1s;
    background-color: red;
}

.parent::after {
    content: 'Welcome';
    position: absolute;
    top: 0px;
    visibility: hidden;
    left: 183px;
    transition: 1s;
    font-size: 35px;
    font-weight: 800;
}

.parent:hover::after {
    visibility: visible;
    color: white;
    transition: 5s;
}

.parent::before {
    content: 'Thanks for hover me';
    position: absolute;
    bottom: 0;
    visibility: hidden;
    left: 92px;
    font-size: 35px;
    font-weight: 800;
}

.parent:hover::before {
    visibility: visible;
    color: white;
    transition: 5s;
}

.box1 {
    height: 20px;
    width: 100px;
    position: absolute;
    background-color: blue;
    top: 240px;
    left: 140px;
    transition: 1s;
}

.parent:hover .box1 {
    height: 20px;
    width: 20px;
    transition: 1s;
    background-color: white;
    position: absolute;
    top: 240px;
    left: 0px;
    transition: 2s;
}

.box2 {
    height: 20px;
    width: 100px;
    background-color: pink;
    position: absolute;
    top: 240px;
    right: 140px;
    transition: 1s;
}

.parent:hover .box2 {
    height: 20px;
    width: 20px;
    background-color: white;
    position: absolute;
    top: 242px;
    right: 0;
    transition: 2s;
}



.box3 {
    height: 100px;
    width: 20px;
    background-color: yellow;
    position: absolute;
    bottom: 140px;
    left: 240px;
    transition: 2s;
}

.parent:hover .box3 {
    height: 48px;
    width: 20px;
    /* background-color: yellow; */
    position: absolute;
    /* bottom: 34px;
    left: 240px; */
    transition: 2s;
}


.box4 {
    height: 100px;
    width: 20px;
    background-color: white;
    position: absolute;
    top: 140px;
    left: 240px;
    transition: 2s;
}

.parent:hover .box4 {
    height: 48px;
    width: 20px;
    /* background-color: red; */
    position: absolute;
    /* top: 34px;
    left: 240px; */
    transition: 2s;
}

.box5 {
    height: 20px;
    width: 20px;
    background-color: red;
    position: absolute;
    top: 240px;
    left: 240px;
    transition: 1s;
}

.parent:hover .box5 {
    background-color: black;
}